<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover API App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script type="text/javascript" src="/js/index.js" defer></script>
</head>
<body>
<div class="container">
    <h2>Welcome to the Mars Rover API Web App</h2>
    <form method="get" action="" id="fromRoverType">
        <input type="hidden" th:field="${homeDto.marsApiRoverData}"/>
        <div class="btn-group btn-group-lg" role="group" style="margin: 2em 0em;">

            <input type="radio" class="btn-check" name="btnradio" id="marsApiCuriosity">
            <label class="btn btn-outline-primary" for="marsApiCuriosity">Curiosity</label>

            <input type="radio" class="btn-check" name="btnradio" id="marsApiOpportunity">
            <label class="btn btn-outline-primary" for="marsApiOpportunity">Opportunity</label>

            <input type="radio" class="btn-check" name="btnradio" id="marsApiSpirit">
            <label class="btn btn-outline-primary" for="marsApiSpirit">Spirit</label>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraFhaz}"/>
                    <label class="form-check-label" th:for="cameraFhaz1">
                        Front Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraRhaz}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'RHAZ') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraRhaz1">
                        Rear Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMast}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAST') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraMast1">
                        Mast Camera
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraChemcam}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'CHEMCAM') ? 'disabled' :  'false'}"/>
                    <label class="form-check-label" th:for="cameraChemcam1">
                        Chemistry and Camera Complex
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMahli}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAHLI') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraMahli1">
                        Mars Hand Lens Imager
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMardi}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MARDI') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraMardi1">
                        Mars Descent Imager
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraNavcam}"/>
                    <label class="form-check-label" th:for="cameraNavcam1">
                        Navcam Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraPancam}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'PANCAM') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraPancam1">
                        Panoramic Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMinites}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MINITES') ? 'disabled' : 'false'}"/>
                    <label class="form-check-label" th:for="cameraMinites1">
                        Miniature Thermal Emission Spectrometer (Mini-TES)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin: 1em 0em;">
            <label th:for="${homeDto.marsSol}">Mars Sol (Mars Day): </label>
            <input class="form-control form-control-lg" type="number" th:field="${homeDto.marsSol}" min="0"/>
            <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 1em">Submit</button>
        </div>

    </form>

    <div th:each="i: ${#numbers.sequence(0, roverData.photos.size(), 4)}" class="row" style="margin-bottom: 2em">
        <div class="col-sm" th:if="${i < roverData.photos.size()}">
            <img th:src=" ${roverData.photos[i].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${i+1 < roverData.photos.size()}">
            <img th:src="${roverData.photos[i + 1].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${i+2 < roverData.photos.size()}">
            <img th:src="${roverData.photos[i + 2].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${i+3 < roverData.photos.size()}">
            <img th:src="${roverData.photos[i + 3].imgSrc}" class="img-fluid">
        </div>
    </div>
</div>

</body>
</html>